#body{
    height: 2000px;
    background-image: url('https://www.doodlersanonymous.com/images/entries/medium/2375_creative-outlets-for-the-internet-age_2332.gif'); 
    /* https://64.media.tumblr.com/97cf49f13451b54db8b67157d5c51398/tumblr_n2k84vCX2L1qex6jlo1_500.gif */
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
 
#section:first-of-type{
    background-image:url('./assets/downtown.jpg');
    max-height: 100vh;
    height:100vh;
    background-size: cover;
}


