

.form-group {
  width: 600px;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.containerContact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  ;
}
form{
  background-color: chocolate;
  height: 100%;
}

.body3{
background-image: url(https://images.unsplash.com/photo-1609948048135-c7032d174c69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3155&q=80);

background-size: cover;
}

h4{
  text-align: center;
}

.titlecontact{
   border: black 3px solid;
}