html,
body {
    background: #E0E6EB!important;
   
}
  
  .entertainment-banner {
    background-image: url("../img/island.jpg");
    background-repeat: repeat;
    position: sticky;
    width: 100%;
    height: 300px;
    margin-top: 9rem;
  }
  
  
  .entertainment-card {
    background: #fff;
    width: 140rem;
    height: 350px;
    border-radius: 0.6em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    display: flex;
    margin: auto;
    margin-top: 5rem;
  }
  
  .entertainment-card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  
  .entertainment-card img {
    position: relative;
    height: 350px;
    float: left;
    width: 500px;
  }
  
  .entertainment-h2 {
    color: #222;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    word-wrap: break-word;
    margin: 3rem;
  }
  
  .entertainment-p {
    color: #777;
    position: relative;
    font-size: 14pt;
    margin-left: 400px;
    word-wrap: break-word;
  }
  
  .entertainment-h5 {
    color: rgb(10, 10, 2);
    text-transform: uppercase;
    font-size: 12pt;
  }
  
  .card-body {
    display: list-item;
    max-height: 40vh;
    font-family: 'Open Sans', sans-serif;
    float: right;
    
  }
  
  .button {
    float: right;
    font-size: 26px;
    color: white;
    background-color:  rgba(24, 24, 24, 0.97);
    width: 250px;
    height: 60px;
    line-height: 60px;
    transition-duration: 0.5s;
    margin-top: 2rem;
    margin-right: 32rem;
  }
  
  .button:hover {
    transform: scale(1.03);
  }
  
  h1 {
      font-size: 30pt;
      padding: 5rem;
      text-shadow: 2px 2px white;

  }
  
 .cards {
     margin-bottom: 15rem;
 }